<div class="page-title">Side by Side</div>

<div class="page-content">

  <div class="panel">
    <div class="filter-buttons">
        <label>Video: </label>
        <a class="filter-button extra" (click)="togglePause()">
          <label *ngIf="!playing || paused">Start</label>
          <label *ngIf="playing && !paused">Pause</label>
        </a>
        <label *ngIf="playing">Recording: </label>
        <a class="filter-button" (click)="recordService.start()" *ngIf="playing && recordService.canStart()"><label>Start</label></a>
        <a class="filter-button" (click)="recordService.pause()" *ngIf="playing && recordService.canPause()"><label>Pause</label></a>
        <a class="filter-button" (click)="recordService.resume()" *ngIf="playing && recordService.canResume()"><label>Resume</label></a>
        <a class="filter-button" (click)="recordService.stop()" *ngIf="playing && recordService.canStop()"><label>Stop</label></a>
        <a class="filter-button" (click)="recordService.download('video')" *ngIf="playing && recordService.canDownload()"><label>Download</label></a>
    </div>
  </div>

  <div class="sample-container">
    <div class="canvas-container">
      <canvas id="canvas"></canvas>
    </div>
  </div>
  
  <div class="settings panel">
      <div class="settings-container">
        <div class="form-field">
            <div class="name"><label>Horizontal Margin: </label></div>
            <div class="range-input">
              <input type="range" [min]="0" [max]="400" [(ngModel)]="marginHorizontal"/> <span>(value: {{marginHorizontal}})</span>
            </div>
          </div>
          <div class="form-field">
              <div class="name"><label>Vertical Margin: </label></div>
              <div class="range-input">
                <input type="range" [min]="0" [max]="400" [(ngModel)]="marginVertical"/> <span>(value: {{marginVertical}})</span>
              </div>
            </div>
      </div>
    </div>
</div>
