.sample-container, .settings {
  display: flex;
  justify-content: center;
}

.filter-buttons {
  display: flex;
  width: 100%;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0 10px;
  }

  .filter-button {
    width: 80px;
    height: 45px;
    background: #20a8da;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms;

    &.extra {
      background: #dc9e9e;
    }

    &.enabled {
      background: #0f6484;
      color: #ffffff;
      &.extra {
        background: #c55757;
      }
    }

    &.selected {
      background: #d4d4d4;
      color: #000000;
    }

    label {
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      padding: 2px;
      cursor: pointer;
    }
  }
  .filter-button:hover {
    background: #000000;
    transition: all 150ms;

    &.selected {
      color: #ffffff;
    }
  }
}

.settings-container {
  display: flex;
  flex-flow: column nowrap;

  .form-field {
    display: flex;
    align-items: center;
    width: 450px;

    .name {
      display: flex;
      align-items: center;
      width: 130px;
      font-size: 12px;

      .mat-icon {
        cursor: pointer;
      }

      label {
        font-size: 10px;
      }
    }
    
    .range-input {
      display: flex;
      align-items: center;
      font-size: 10px;

      input {
        width: 250px;
        margin-right: 5px;
      }
    }

    .value-input {
      input {
        width: 80px;
        padding: 5px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #555555;
        border: none;
        background: none;
      }
    }

    button {
      margin-top: 10px;
      font-size: 10px;
      line-height: 25px;
    }
  }
}
