<header>
    <mat-icon>movie</mat-icon> <span>Canvas&nbsp;</span> and <span>&nbsp;Media&nbsp;</span> Playground
</header>
<main>

  <div id="slidebar">
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/devices']">
        <mat-icon>camera_alt</mat-icon>
        <div class="mat-menu-title">Local Devices</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/inspect']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>settings</mat-icon>
        <div class="mat-menu-title" matBadge="{{getInspectorBadgeNumber()}}" matBadgeOverlap="false"
        *ngIf="getInspectorBadgeNumber()">Information</div>
        <div class="mat-menu-title" *ngIf="!getInspectorBadgeNumber()">Information</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/filters']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>movie_filter</mat-icon>
        <div class="mat-menu-title">Filters</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/marker']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>add_comment</mat-icon>
        <div class="mat-menu-title">Add comment</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/detection']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>search</mat-icon>
        <div class="mat-menu-title">Detectors</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/mixer']" *ngIf="getInspectorBadgeNumber() > 1">
        <mat-icon>device_hub</mat-icon>
        <div class="mat-menu-title">Mixer</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/color-keying']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>gradient</mat-icon>
        <div class="mat-menu-title">Color Keying</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/motion']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>directions_run</mat-icon>
        <div class="mat-menu-title">Motion Detection</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/tracking']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>swap_calls</mat-icon>
        <div class="mat-menu-title">Motion Tracking</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/presenter']" *ngIf="getInspectorBadgeNumber() > 0">
        <mat-icon>desktop_windows</mat-icon>
        <div class="mat-menu-title">Presenter</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
      <button mat-menu-item routerLinkActive="active" [routerLink]="['/stereo']">
        <mat-icon>import_contacts</mat-icon>
        <div class="mat-menu-title">Side by Side</div>
        <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
      </button>
    <button mat-menu-item routerLinkActive="active" [routerLink]="['/spatial-effect']">
      <mat-icon>batch_prediction</mat-icon>
      <div class="mat-menu-title">Spatial Effect</div>
      <mat-icon class="arrow-left-icon">arrow_left</mat-icon>
    </button>
  </div>

  <div class="loading" *ngIf="loadingService.loading">
    <mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
  <router-outlet></router-outlet>
</main>
