/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

h3 {
  font-size: 14px;
}

body {
  background: #e4e5e7;
  margin: 0;
  padding: 0;
}

.module-message {
  font-weight: bold;
  height: calc(80vh - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel  {
  // width: calc(100vw - 250px);
  display: flex;
  width: 900px;
  padding: 20px;
  margin: 0;
  margin-bottom: 15px;
  background: #ffffff;
  border: 2px solid #dcdcdc;
  box-shadow: none;
}

.page-title {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e1e1e1;
  color: #5a5a5a;
  background: #fff;
  padding-left: 25px;
  font-size: 12px;
  font-weight: bold;
}

.page-content {
  padding: 25px;
  width: calc(100vw - 250px);
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  &.mat-mini-fab {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    .mat-button-wrapper {
      padding: 0;

      .mat-icon {
        height: 23px;
        width: 23px;
        font-size: 23px;
      }
    }
  }
}
button:focus {outline:0;}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary, 
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar,
button.mat-raised-button.mat-primary {
  background-color: #20a8da;
}
