<div class="page-title">Filters</div>

<div class="page-content">

  <p class="module-message" *ngIf="!streamToDisplay">Select media stream</p>

  <div class="panel">
    <div class="filter-buttons">
        <a class="filter-button extra" (click)="start()" *ngIf="!interval"><label>Start</label></a>
        <a class="filter-button enabled extra" (click)="stop()" *ngIf="interval"><label>Stop</label></a>
        <a class="filter-button" [class.enabled]="f.enabled" [class.selected]="isSelectedFilter(f)"
          (click)="selectFilter(f)" *ngFor="let f of filters">
            <label>{{ f.label }}</label>
        </a>
    </div>
  </div>

  <div class="sample-container panel">
    <canvas id="canvas" width="640" height="480"></canvas>
  </div>

  <div class="settings panel" *ngIf="!!selectedFilter">
    <div class="settings-container">
      <div class="form-field">
        <div class="name">
          <label>{{ selectedFilter.label }}</label>
        </div>
        <div class="range-input">
          <input type="range" *ngIf="selectedFilter.isRangeType()"
            [min]="selectedFilter.rangeStart" [max]="selectedFilter.rangeEnd" [(ngModel)]="selectedFilter.param" />
          <span *ngIf="selectedFilter.isRangeType()">(value: {{selectedFilter.param}})</span>
        </div>
      </div>
    </div>
  </div>

</div>